<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>添加文章</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link href="__CSS__/bootstrap.min.css?v=3.3.6" rel="stylesheet">
    <link href="__CSS__/font-awesome.min.css?v=4.4.0" rel="stylesheet">
    <link href="__CSS__/plugins/bootstrap-table/bootstrap-table.min.css" rel="stylesheet">
    <link href="__CSS__/animate.min.css" rel="stylesheet">
    <link href="__CSS__/style.min.css?v=4.1.0" rel="stylesheet">
    <link href="__CSS__/plugins/sweetalert/sweetalert.css" rel="stylesheet">
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight">
<button id="cancle" class="btn btn-default">返回</button>
    <!-- Panel Other -->
    <div class="container">
        <div class="row">
              <div class="col-md-8 col-md-offset-2">
              	<form role="form" enctype="multipart/form-data" method="post" class="form-horizontal m-t" id="articleAddForm" method="post" onsubmit="return toVaild()">
				  <div class="form-group">
				    <label for="title">标题</label>
				    <input type="text" class="form-control" id="title" placeholder="title" name="title">
				  </div>
				   <div class="form-group">
				    <label for="author">作者</label>
				    <input type="text" class="form-control" id="author" placeholder="author" name="author">
				  </div>
				   <div class="form-group">
				    <label for="content">简介</label>
				    <input type="text" class="form-control" id="content" placeholder="content" name="content">
				  </div>
				   <div class="form-group">
                                                                            <label for="content">封面</label>
                                                                          <img class="img_upload_show" style="width: 140px;height: 140px;margin-left: 50px;margin-bottom: 20px;"/>
                                                                            <input type="file" name="picture" class="img_upload_file" multiple="multiple" style="margin-left: 80px;"/> 
                                                                          
                                                     </div> 
				  <div class="form-group">
				  <button type="submit" class="btn btn-success">确认</button>
				  
				  </div>
			</form>

              </div>         
         </div>
    </div>
    
<!-- End Panel Other -->
</div>
<script src="__JS__/jquery.min.js?v=2.1.4"></script>
<script src="__JS__/bootstrap.min.js?v=3.3.6"></script>
<script src="__JS__/content.min.js?v=1.0.0"></script>
<script src="__JS__/plugins/bootstrap-table/bootstrap-table.min.js"></script>
<script src="__JS__/plugins/bootstrap-table/bootstrap-table-mobile.min.js"></script>
<script src="__JS__/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
<script src="__JS__/plugins/suggest/bootstrap-suggest.min.js"></script>
<script src="__JS__/plugins/layer/laydate/laydate.js"></script>
<script src="__JS__/plugins/sweetalert/sweetalert.min.js"></script>
<script src="__JS__/plugins/layer/layer.min.js"></script>
<script>
//上传图片预览
 $(".img_upload_file").change(function() {
            var file = this.files[0];
            var reader = new FileReader();
            reader.readAsDataURL(file);
            reader.onload = function(e) {
                $(".img_upload_show").attr("src", this.result);
            };
        });
	$('#cancle').on('click',function(){
		location.href="/work/public/index.php/admin/article/index.html";
	});
function toVaild(){
        var jz; //打开加载层
        var url = "./articleAdd";
        $.ajax({
            type:"POST",
            url:url,
            data:{'data' : $('#articleAddForm').serialize()},// 你的formid
            async: false,
            beforeSend:function(){
                jz = layer.load(1, {shade: false}); //0代表加载的风格，支持0-2
            },
            error: function(request) {
                layer.close(jz);
                swal("网络错误!", "", "error");
            },
            success: function(data) {
                //关闭加载层
                layer.close(jz);
                if(data.code == 1){
                	console.log();
                    swal({
                      title: data.msg,
                      text: "",
                      type: "success",
                    },
                    function(){
                      location.href="/work/public/index.php/admin/article/index.html";
                    });
                    console.log(data.msg);
                }else{
                    swal(data.msg, "", "error");
                }

            }
        });

        return false;
    }
</script>
</body>
</html>